if SHIELD_LEKO_PONA_LEFT

config ZMK_KEYBOARD_NAME
    default "leko pona wan"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_LEKO_PONA_LEFT || SHIELD_LEKO_PONA_RIGHT

config ZMK_SPLIT
    default y

endif